.aboutbutton{
	position:absolute;
	top:-7px;
	left:802px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:85px;
	background-image:url(images/tab.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:30px 10px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#B3B3B3;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.aboutbutton:hover{
	background-image:url(images/tabhover.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-attachment:scroll;
	color:#FEFFB8;

}

.address{
	position:absolute;
	top:627px;
	left:304px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:50px;
	width:269px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:1px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:15px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#4C4C4C;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.61;
	text-align:left;
	text-indent:0px;

}

.address p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#666666;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.5;
	text-align:left;
	text-indent:0px;

}

.careerbutton{
	position:absolute;
	top:-7px;
	left:700px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:85px;
	background-image:url(images/tab.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:30px 10px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#B3B3B3;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.careerbutton:hover{
	background-image:url(images/tabhover.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-attachment:scroll;
	color:#FEFFB8;

}

.clientbutton{
	position:absolute;
	top:163px;
	left:718px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:90px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#FFFFFF;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:2;
	text-align:center;
	text-indent:0px;

}

.clientbutton:hover{
	background-color:#649FAF;
	background-attachment:scroll;

}

.companyname{
	position:absolute;
	top:4px;
	left:7px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:42px;
	width:241px;
	background-image:url(images/logobg.gif);
	background-repeat: no-repeat;
	background-position:bottom center;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.companyname p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#FFFFFF;
	font-size:15pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:center;
	text-indent:0px;

}

.contentbox{
	position:absolute;
	top:263px;
	left:9px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:350px;
	width:882px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:1px #B3B3B3 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.design{
	position:absolute;
	top:627px;
	left:595px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:50px;
	width:269px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:15px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.design p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#666666;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.5;
	text-align:left;
	text-indent:0px;

}

.design p a{
	cursor:pointer;
	clear:none;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#4C8734;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;

}

.greyblock{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:url(images/noticebg.gif);
	background-repeat: no-repeat;
	background-position:bottom right;
	background-color:#F4F4F4;
	background-attachment:scroll;
	margin:20px 40px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:10px 10px 10px 10px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#666666;
	font-size:8pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:2.01;
	text-align:justify;
	text-indent:0px;

}

.guestbutton{
	position:absolute;
	top:163px;
	left:618px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:90px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#FFFFFF;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:2;
	text-align:center;
	text-indent:0px;

}

.guestbutton:hover{
	background-color:#649FAF;
	background-attachment:scroll;

}

.header{
	position:absolute;
	top:34px;
	left:360px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:56px;
	width:513px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.header h1{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 10px 0px;
	font-family:"Arial",sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#4C8734;
	font-size:16pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.header p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#4C8734;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.homebutton{
	position:absolute;
	top:-7px;
	left:400px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:85px;
	background-image:url(images/tab.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:30px 10px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#B3B3B3;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.homebutton:hover{
	background-image:url(images/tabhover.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-attachment:scroll;
	color:#FEFFB8;

}

.maincontainer{
	position:relative;
	float:none;
	left:0px;
	top:0px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:727px;
	width:895px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:26px auto 0px auto ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.maincontent{
	position:absolute;
	top:3px;
	left:309px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:325px;
	width:565px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.maincontent h1{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:1px #CCCCCC solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#444444;
	font-size:16pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.7;
	text-align:left;
	text-indent:0px;

}

.maincontent h2{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#7E8388;
	font-size:8pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.81;
	text-align:left;
	text-indent:0px;

}

.maincontent p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:10px 0px 0px 0px;
	font-family:"Verdana",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#444444;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.81;
	text-align:justify;
	text-indent:0px;

}

.maincontent p a{
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:#EFFCFF;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	padding:0px 0px 0px 0px;
	font-style:normal;
	color:#4D7486;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.81;
	text-align:justify;
	text-indent:0px;

}

.picturebar{
	position:absolute;
	top:51px;
	left:0px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:198px;
	width:897px;
	background-image:url(images/intro.jpg);
	background-repeat: no-repeat;
	background-position:top left;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.referencesbutton{
	position:absolute;
	top:-7px;
	left:600px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:85px;
	background-image:url(images/tab.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:30px 10px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#B3B3B3;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.referencesbutton:hover{
	background-image:url(images/tabhover.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-attachment:scroll;
	color:#FEFFB8;

}

.servicesbutton{
	position:absolute;
	top:-7px;
	left:500px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:26px;
	width:85px;
	background-image:url(images/tab.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:30px 10px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#B3B3B3;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:right;
	text-indent:0px;

}

.servicesbutton:hover{
	background-image:url(images/tabhover.gif);
	background-repeat: no-repeat;
	background-position:center right;
	background-attachment:scroll;
	color:#FEFFB8;

}

.sidebar{
	position:absolute;
	top:2px;
	left:3px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:326px;
	width:273px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:1px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:8pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.sidebar h1{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#444444;
	font-size:14pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.71;
	text-align:left;
	text-indent:0px;

}

.sidebar h2{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#444444;
	font-size:8pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.71;
	text-align:left;
	text-indent:0px;

}

.sidebar h2 a{
	visibility:visible;
	cursor:pointer;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:#EAFFE3;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#5A8549;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.71;
	text-align:left;
	text-indent:0px;

}

.sidebar p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 30px 20px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#444444;
	font-size:8pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.81;
	text-align:left;
	text-indent:0px;

}

.terms{
	position:absolute;
	top:627px;
	left:16px;
	visibility:visible;
	cursor:default;
	clear:none;
	height:50px;
	width:269px;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:1px #B3B3B3 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:15px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	font-size:10pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1;
	text-align:left;
	text-indent:0px;

}

.terms p{
	visibility:visible;
	cursor:default;
	clear:none;
	background-image:none;
	background-repeat:;
	background-position:;
	background-color:transparent;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	opacity:100;
	filter:alpha(opacity=100);
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#666666;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;
	line-height:1.5;
	text-align:left;
	text-indent:0px;

}

.terms p a{
	cursor:pointer;
	clear:none;
	background-attachment:scroll;
	margin:0px 0px 0px 0px ;
	border-top:0px #000000 solid;
	border-bottom:0px #000000 solid;
	border-left:0px #000000 solid;
	border-right:0px #000000 solid;
	padding:0px 0px 0px 0px;
	font-family:"Arial",sans-serif;
	font-weight:normal;
	font-style:normal;
	color:#4C8734;
	font-size:9pt;
	text-shadow:0px 0px 5px transparent;
	text-decoration: none ;
	letter-spacing:0px;

}

body{
	background-image:url(images/bg.gif);
	background-repeat: repeat-x;
	background-position:top left;
	background-color:#FFFFFF;
	background-attachment:scroll;

}

